* {
    box-sizing: border-box;
}

.width-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body{
    background-color: var(--color-tire);
    color:var(--color-white);
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 400;
}

.page-section{
    margin-top: 128px;
}

a{
    color: var(--color-white);
    text-decoration: none;
}






button{
    border: none;
    background: none;
}

.btn-custom{
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    padding: 0 65px;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-skew{
    transform: skew(-10deg);
}

.btn-skew span {
    /*transform: skew(10deg);*/
}

.btn__white{
    background-color: var(--color-white);
    color: var(--color-brand);
    border: 2px solid var(--color-brand);
}






img{
    width: 100%;
}

.resetListStyle{
    list-style: none;
    padding: 0;
    margin: 0;
}

.textUppercase{
    text-transform: uppercase;
}
.pageTitle{
    font-style: italic;
    font-weight: 800;
}

.w-100{
    width: 100%;
}
.mw-fitContent{
    display: flex;
    max-width: fit-content;
}

.flexBox{
    display: flex;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexAlignCenter{
    display: flex;
    align-items: center;
}
.flex__row__column{
    display: flex;
    flex-direction: row;
}
.flexJustifyBetween{
    display: flex;
    justify-content: space-between;
}








@media (max-width: 992px) {
    .width-container{
        padding-left: 16px;
        padding-right: 16px;
    }
    .page-section{
        margin-top: 80px;
    }
    .flex__row__column{
        flex-direction: column;
    }

    .footer-nav,
    .footer__legal-wrapper{
        width: 100%;
        justify-content: space-between;
    }
    .footer-content-menu{
        gap: 28px;
    }
    .footer-menu-list ul li a{

    }
}
