* {
    box-sizing: border-box;
}

:root{
    --color-white:#FFFFFF;
    --color-tire: #161616;
    --color-mustache:#2C2C2C;
    --color-smoke:#52555A;
    --color-dust:#999DA6;
    --color-light-dust:#E0E2E4;
    --color-brand:#F44C00;
    --pop-up-brand-20: #8b6a5b;
    --color-add-brand:#FE6B29;
}

.color__smoke{
    color: var(--color-smoke);
}
.color__dust{
    color: var(--color-dust);
}
.color__tire{
    color: var(--color-tire);
}
.color__brand{
    color: var(--color-brand);
}

.bg__brand{
    background-color: var(--color-brand);
}
.bg__add-brand{
    background-color: var(--color-add-brand);
}
.bg__white{
    background-color: var(--color-white);
}

.btn__white {
    background-color: var(--color-white);
    color: var(--color-brand);
    border: 2px solid var(--color-brand);
    transition: background-color 300ms, color 300ms, border 300ms;
}



.width-container,
.header-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.width-container {
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: var(--color-tire);
    color: var(--color-white);
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 400;
}

.page-section {
    margin-top: 128px;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

button {
    border: none;
    background: none;
    color: var(--color-white);
    transition: color 300ms, background-color 300ms;
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 100%;
    padding: 0 32px;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-skew-right{
    transform: skew(-13deg);
}

.btn-skew-right-content{
    transform: skew(13deg);
}

.btn-skew-left{
    transform: skew(13deg);
}

.btn-skew-left-content{
    transform: skew(-13deg);
}







img {
    width: 100%;
}

.resetListStyle {
    list-style: none;
    padding: 0;
    margin: 0;
}

.textUppercase {
    text-transform: uppercase;
}

.pageTitle {
    font-style: italic;
    font-weight: 800;
}
.fontStyleItalic{
    font-style: italic;
}
.w-100 {
    width: 100%;
}

.mw-fitContent {
    display: flex;
    max-width: fit-content;
}

.blockBox{
    display: block;
}
.flexBox {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexAlignCenter {
    display: flex;
    align-items: center;
}

.flex__row__column {
    display: flex;
    flex-direction: row;
}

.flexJustifyBetween {
    display: flex;
    justify-content: space-between;
}

.page-title__section {
    text-align: center;
}


.marquee {
    padding: 4px 0;
    overflow: hidden;
    background-color: var(--color-white);
    color: var(--color-tire);
}

.marquee-text .marquee-text-track {
    display: flex;
    padding-left: 4.8rem;
    gap: 12px;
    width: max-content;
    animation: marquee-text 15s infinite linear;
}

.marquee-text-track p {
    position: relative;
    white-space: nowrap;
}

@keyframes marquee-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.333%);
    }
}

.slider-section-top {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.textCenter {
    text-align: center;
}



.slider-container {
    margin-top: 56px;
    width: 100%;
    overflow: hidden;
}

.slider-section-top:before {
    content: '';
    display: block;
}

.slider-section-top:before,
.slider-controls {
    width: 100%;
    max-width: 340px;
}

.slider-controls {
    gap: 14px;
}

.slider-control-btn {
    height: 56px;
    width: 78px;
}


.clip-container{
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
    overflow: hidden;
}

[data-container]{
    display: none;
}
[data-container].active{
    display: block;
}




@media (max-width: 992px) {
    .width-container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .page-section {
        margin-top: 80px;
    }

    .flex__row__column {
        flex-direction: column;
    }

    .btn-custom{
        height: 38px;
    }


    .footer-nav,
    .footer__legal-wrapper {
        width: 100%;
        justify-content: space-between;
    }

    .footer-content-menu {
        gap: 28px;
    }


    .mobile-wide-container{
        width: calc(100% + 32px);
        margin-left: -16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .slider-section-top:before{
        display: none;
    }


    .slider-controls{
        justify-content: center;
        gap: 4px;
    }
    .slider-container{
        margin-top: 48px;
    }
    .slider-section-top{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .slider-control-btn{
        width: 40px;
        height: 32px;
    }
    .slider-control-btn svg{
        width: 16px;
        height: 16px;
    }
}


@media (hover: hover) {
    button:hover {
        cursor: pointer;
    }
    button.bg__brand:hover{
        background-color: var(--color-add-brand);
    }
    .btn__white:hover{
        background-color: var(--color-add-brand);
        color: var(--color-white);
        border: 2px solid var(--color-white);
    }
    button.bg__white:hover{
        background-color: var(--color-brand);
        color: var(--color-white);
    }
    button.bg__add-brand:hover{
        background-color: var(--color-brand);
    }

}



.center-line{
    height: 500px;
    width: 0px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    z-index: 25;
}