.breadcrumbs-section {
    margin-top: 8px;
    padding: 8px 0;
}

.breadcrumbs {
    gap: 12px;
}

.breadcrumbs a:after {
    content: '/';
    margin-left: 12px;
}

.breadcrumbs a {
    color: var(--color-dust);
}

.header-bar .contacts__mail {
    padding-left: 20px;
}

.contacts__mail {
    gap: 8px;
}

.header-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    align-items: center;
}

.header-bar .contacts__mail {
    height: 32px;
}

.header-phone {
    height: 40px;
    padding: 0 12px 0 16px;
    width: fit-content;
    gap: 12px;
}

.header-phone__text {
    border-right: 1px solid var(--color-white);
    padding-right: 12px;
    height: 100%;
    font-weight: 500;
    white-space: nowrap;
}

.header-bar__contacts {
    gap: 20px;
    justify-content: end;
}

.schedule-content {
    text-align: center;
}

.header-menu {
    gap: 40px;
}

.header-menu a {
    color: var(--color-tire);
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 300ms;
}

.menu__dropdown-item .menu__dropdown-link svg {
    transform: scale(1, 1);
    transition: transform 300ms;
}

.menu__dropdown-link {
    gap: 4px;
}

.menu__dropdown-item {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu__dropdown-list {
    position: absolute;
    display: none;
    top: 100%;
}

.menu__dropdown-list a {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    transition: background-color 300ms, color 300ms;
}

.menu__dropdown-list li:not(:last-child) a {
    border-bottom: 1px solid var(--color-brand);
}

/*footer*/
.footer-content {
    gap: 290px;
    position: relative;
    z-index: 2;
}

.logo-wrapper {
    width: fit-content;
    height: 56px;
    padding: 8px 20px;
}

.footer__legal-info {
    justify-content: space-between;
}

.footer__legal-wrapper a {
    padding: 8px 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-nav {
    gap: 112px;
}

.footer-content-menu {
    justify-content: space-between;
    gap: 100px;
}

.footer-menu-list {
    font-weight: 500;
    gap: 8px;
}

.footer-menu-list ul li a {
    display: flex;
    padding: 8px 0;
    white-space: nowrap;
}

.footer-contacts {
    max-width: 360px;
    gap: 20px;
}

.footer-contacts .t2 {
    text-transform: uppercase;
}

.footer-contacts__wrapper {
    gap: 12px;
}

.soc-item {
    height: 32px;
    width: 32px;
}

.footer-contacts__phone {
    font-weight: 500;
}

.footer__word-logo {
    margin-top: 19px;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("/assets/images/main/footer-word-logo.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 26% 2% 39%;
    aspect-ratio: 1400/240;
}

.footer__word-logo img {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 1;
}

.footer-bottom {
    margin: 48px 0 24px;
    align-items: end;
    gap: 16px;
}

.footer-requisites__item {
    gap: 4px;
    font-weight: 500;
}

.footer__word-subLogo {
    padding-left: 62%;
    margin-top: 23px;
    position: relative;
    z-index: 2;
}

.footer__word-subLogo svg {
    width: 100%;
    height: fit-content;
}
/*END footer*/

/*404 error*/
.error-content-image {
    width: 100%;
    max-width: 320px;
}

.error-page-content {
    align-items: center;
}

.error-content__bottom {
    gap: 24px;
    align-items: center;
}

.to-home__btn {
    max-width: 259px;
}
/*END 404 error*/

/*tours*/
.tours-page-title {
    padding-bottom: 136px;
}

.advantages-section {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.advantages__title {
    text-transform: uppercase;
    word-break: break-word;
}

.advantages__icon {
    height: 56px;
    width: 56px;
    padding: 12px;
    background-color: var(--color-mustache);
}

.advantages__item {
    gap: 16px;
    border: 1px solid var(--color-mustache);
    padding: 20px;
}

.our-tours {
    margin-top: 32px;
}

.our-tours__tub-btn {
    width: 242px;
}

.our-tours__contents {
    margin-top: 56px;
}

.routes-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px 4px;
}

.route-card {
    height: 400px;
    width: 100%;
    max-width: 614px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    padding-bottom: 16px;
}

.card-tag {
    background-color: var(--color-tire);
    border: 1px solid var(--color-white);
    width: fit-content;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 55px;
}

.route-card__top {
    position: absolute;
    top: 16px;
    right: 30px;
    gap: 8px;
    align-items: end;
}

.route-card__bottom {
    width: 100%;
    padding: 0 16% 0 4%;
    position: absolute;
    bottom: 16px;
}

.route-card {
    position: relative;
    padding-bottom: 0;
}

.route-card__image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
/*END tours*/

/*gallery slider section */
.telegram-promo {
    align-items: center;
    margin-top: 48px;
    padding: 12px 60px;
    gap: 80px;
}

.telegram-promo__title {
    gap: 16px;
    white-space: nowrap;
}

.telegram-promo__title-decoration {
    text-decoration: underline;
}

.telegram-promo__description {
    max-width: 454px;
}

.gallery-card {
    display: flex;
    height: 400px;
}

.gallery-card img {
    height: 100%;
    object-fit: cover;
}
/*END gallery slider section */

/*reviews slider section */
.reviews-card {
    gap: 16px;
}

.reviews-section__bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--color-smoke);
    gap: 24px;
}

.reviews-section__icons {
    gap: 20px;
}

.reviews-link {
    border-radius: 12px;
    overflow: hidden;
    height: 40px;
    width: 40px;
}
/*END reviews slider section */

/*certificate page*/
.page-top-icon-wrapper {
    margin-top: 24px;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.certificate-description-section {
    min-height: 206px;
}

.page-top-icon {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.certificate-image {
    max-width: 720px;
}

.certificate-description__content {
    align-items: center;
    padding-bottom: 79px;
    position: relative;
    z-index: 2;
    gap: 24px;
}

.certificate-description__top {
    width: 100%;
    max-width: 644px;
    justify-content: space-between;
    gap: 12px;
}

.certificate-description__top li {
    padding: 10px 0;
}

.certificate-description__bottom {
    gap: 24px;
}

.certificate-description__bottom svg {
    height: 41px;
    width: 100%;
    max-width: 299px;
}

.get-certificate-btn {
    max-width: 287px;
}

.about-certificate__section {
    display: grid;
    grid-template-columns: 1fr 600px;
    align-items: center;
}

.about-certificate {
    gap: 48px;
    padding: 0 120px 0 118px;
    width: 100%;
}

.about-certificate__image {
    position: relative;
    height: 600px;
    display: flex;
    align-items: start;
    overflow: hidden;
}

.about-certificate__lines {
    position: absolute;
    background-color: var(--color-tire);
    gap: 30px;
    padding-left: 70px;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: 256px;
    clip-path: polygon(46% 0, 100% 100%, 0% 100%, 0% 0%);
}

.about-certificate__image img {
    height: 100%;
    object-fit: cover;
}

.about-certificate__line {
    background-color: var(--color-mustache);
    height: 100%;
    transform: skew(13deg);
}

.about-certificate__line-18 {
    width: 18px;
}

.about-certificate__line-38 {
    width: 38px;
}

.about-certificate__button {
    max-width: 336px;
}

.faq-section {
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-width: 1992px;
    margin-left: auto;
    margin-right: auto;
}

.aside-bike-image {
    height: 620px;
    width: 620px;
    min-width: 620px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

.aside-bike-image__left {
    background-position: right;
}

.aside-bike-image__right {
    background-position: left;
}
/*END certificate page*/

/*faq section*/
.faq-section .width-container {
    min-width: 806px;
}

.faq-block {
    padding-top: 65px;
    max-width: 678px;
    width: 100%;
}

.faq-item {
    border: 1px solid var(--color-white);
    padding: 0 64px;
    background-color: var(--color-tire);
    transition: background-color 300ms;
}

.question {
    gap: 12px;
    width: 100%;
    padding: 12px 0;
    transition: padding 300ms;
}

.open .question {
    padding: 12px 0 8px;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms;
}

.faq-answer-content {
    padding-bottom: 12px;
}

.question-open-icon {
    transition: transform 300ms;
}

.open .question-open-icon {
    transform: rotate(180deg);
}

.vertical-line {
    transition: opacity 300ms;
}

.open .vertical-line {
    opacity: 0;
}

.open.faq-item {
    background-color: var(--color-mustache);
}

.questions-answers {
    margin-top: 56px;
    gap: 20px;
}

.question-text {
    width: 100%;
    text-align: left;
    white-space: normal;
}
/*END faq section*/

/*promotion page*/
.promotions-top-icon-wrapper {
    min-height: 80px;
}

.promotions-top-icon {
    max-width: 460px;
}

.discounts-section {
    margin-top: 32px;
    padding: 40px 0;
    background-color: var(--color-mustache);
}

.discounts-content {
    gap: 20px;
    justify-content: center;
}

.discounts-card {
    gap: 32px;
    width: 100%;
    max-width: 453px;
}

.discounts-description {
    gap: 16px;
    padding: 0 40px;
}

.discounts-bottom {
    margin-top: auto;
}

.discounts-description__text strong {
    color: var(--color-white);
    font-weight: 500;
}

.discounts-card__image {
    height: 302px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.discounts-card__top {
    position: relative;
}

.card-tag__wrapper {
    position: absolute;
    top: 16px;
    right: 30px;
}

.booking-btn {
    max-width: 365px;
}

.corporate-discounts {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.corporate-discounts__bottom-info {
    max-width: 373px;
    min-height: 56px;
    padding: 8px 32px;
}

.corporate-discounts-bottom {
    flex-direction: column;
    gap: 20px;
}

.corporate-discounts-description {
    gap: 16px;
}

.corporate-discounts-content {
    padding: 0 40px;
    gap: 24px;
}

.corporate-description__list {
    margin-top: 20px;
    gap: 12px;
}

.corporate-description__list li {
    padding-left: 24px;
    position: relative;
}

.corporate-description__list li:before {
    content: url("/assets/images/icons/list-icon-line.svg");
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: end;
    height: 16px;
    width: 20px;
    justify-content: center;
}

.corporate-description__list strong {
    color: var(--color-dust);
}

.discounts-description__title {
    min-height: 58px;
}

.transport-slid-card {
    position: relative;
}

.transport-slider {
    overflow: hidden;
}

.transport-slider .swiper-slide {
    max-width: 689px;
}

.transport__image {
    background-image: url("/assets/images/transport-images/bg-clip-path.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    width: 689px;
    height: 512px;
    aspect-ratio: 689/512;
    transition: background 300ms;
}

.transport-type-button {
    position: absolute;
    bottom: 40px;
    left: 64px;
    border: 1px solid var(--color-white);
    padding: 0 60px;
    height: 56px;
}

.get-cost-block {
    margin-top: 56px;
}

.get-cost-btn {
    max-width: 325px;
}

.recreation__gallery-card {
    position: relative;
}

.recreation-card-tags {
    position: absolute;
    display: flex;
    justify-content: end;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 17% 40px 6%;
}

.contacts-page-top {
    margin-top: 57px;
    gap: 32px;
    flex-wrap: wrap;
}

.contacts-top__soc-wrapper {
    gap: 20px;
}

.contacts-soc-wrapper {
    max-width: fit-content;
}

.contacts-label {
    gap: 16px;
}

.contacts-label__item {
    border: 1px solid var(--color-white);
    padding: 0 60px;
    white-space: nowrap;
}

.contacts-label__title {
    padding: 0 12px;
}

.map-section {
    margin-top: 40px;
    padding: 40px 0;
}

.map-section-description {
    max-width: 545px;
}

.map-description {
    gap: 48px;
    max-width: 545px;
}

.map-description__label {
    gap: 12px;
}

.map-block {
    gap: 56px;
}

.map-wrapper {
    max-width: 680px;
    height: 312px;
}

.map-wrapper iframe {
    height: 100%;
    width: 100%;
}

.cost-form{
    gap: 40px;
    max-width: 584px;
}
.cost-form__top{
    gap: 24px;
}

.cost-form__inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 15px;
}

.cost-form__field-comment{
    grid-column:  span 2;
    max-height: 56px;
}

.cost-form__field{
    padding: 8px 12px;
    border-bottom: 1px solid var(--color-dust);
}
.cost-form__field input,
.cost-form__field textarea{
    border: none;
    outline: none;
    resize: none;
    color: var(--color-white);
}

.cost-form__field .t2{
    text-transform: unset;
}

.cost-form__textarea {
    overflow-y: scroll;
    scrollbar-width: none;
}

.cost-form__textarea::-webkit-scrollbar {
    display: none;
}

.find-out-cost{
    gap: 40px;
    justify-content: end;
}

.bike-bend-bg{
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 678px;
    overflow: hidden;
}
.bike-bend-bg:before{
    content: '';
    position: absolute;
    background-color: var(--color-tire);
    gap: 30px;
    padding-left: 70px;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: 256px;
    clip-path: polygon(40% 0, 100% 100%, 0% 100%, 0% 0%);
    z-index: 1;
}

.bike-bend-image {
    position: absolute;
    z-index: 2;
    right: -90px;
    bottom: -1px;
}
/*END promotion page*/

/*corporate*/
.breadcrumbs-on{
    position: absolute;
}

.page-top{
    height: 661px;
    background-repeat: no-repeat;
    margin-top: -98px;
    padding-top: 98px;
    background-position: center;
    background-size: cover;
}

.page-top__content{
    max-width: 1164px;
    margin: 85px auto 0;
    text-align: center;
    align-items: center;
}

.page-top__action{
    margin-top: 48px;
}

.page-top__btn{
    padding: 0 62px;
}

.corporate-benefits{
    margin-top: 80px;
}

.corporate-benefits-slider .swiper-slide{
    width: 312px;
    height: auto;
}

.corporate-benefits-card{
    padding: 20px 20px 32px;
    gap: 12px;
    justify-content: space-between;
    border: 1px solid var(--color-smoke);
    height: 100%;
}

.page-section__corporate{
    margin-top: 128px;
}

.routes-slider .card-tag{
    padding: 0 20px;
}

.additional-services__section-top{
    align-items: start;
}

.additional-services__subTitle{
    text-align: center;
}

.additional-services__top{
    gap: 16px;
}

.additional-card{
    clip-path: polygon(14% 0, 100% 0, 86% 100%, 0% 100%);
    height: 100%;
}

.additional-card__image{
    min-height: 400px;
    height: calc(100% - 1px);
    width: 250px;
    min-width: 250px;
    background-repeat: unset;
    background-position: left;
    background-size: cover;
}

.additional-card__top{
    gap: 16px;
    max-width: 350px;
}
.additional-card__content{
    width: 100%;
    padding: 56px 96px 56px 120px;
    gap: 32px;
    justify-content: space-between;
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: -100px;
}

.additional-card__btn{
    max-width: 247px;
}

.beneficial-business-block{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.beneficial-business__item{
    gap: 16px;
    border: 1px solid var(--color-mustache);
    padding: 20px 20px 32px;
}




/*END corporate*/


.mb-show {
    display: none;
}

@media (hover: hover) {
    .menu__dropdown-list a:hover {
        background-color: var(--color-brand);
        color: var(--color-white);
    }

    .menu__link:hover {
        color: var(--color-brand);
    }

    .menu__dropdown-link:hover svg path {
        fill: var(--color-brand);
    }

    .menu__dropdown-item:hover .menu__dropdown-link svg {
        transform: scale(1, -1);
    }

    .menu__dropdown-item:hover .menu__dropdown-list {
        display: block;
    }

    .header-phone:hover,
    .telegram-promo:hover {
        background-color: var(--color-add-brand);
    }

    .faq-item:hover {
        background-color: var(--color-mustache);
    }

    .transport-slid-card:hover .transport__image {
        background-image: url("/assets/images/transport-images/bg-clip-path-hover.svg");
    }
}