.breadcrumbs-section {
    margin-top: 8px;
    padding: 8px 0;
}

.breadcrumbs {
    gap: 12px;
}

.breadcrumbs a:after {
    content: '/';
    margin-left: 12px;
}

.breadcrumbs a {
    color: var(--color-dust);
}

.header-bar .contacts__mail {
    padding-left: 20px;
}

.contacts__mail {
    gap: 8px;
}

.header-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    align-items: center;
}

.header-bar .contacts__mail {
    height: 32px;
}

.header-phone {
    height: 40px;
    padding: 0 12px 0 16px;
    width: fit-content;
    gap: 12px;
}

.header-phone__text {
    border-right: 1px solid var(--color-white);
    padding-right: 12px;
    height: 100%;
    font-weight: 500;
    white-space: nowrap;
}

.header-bar__contacts {
    gap: 20px;
    justify-content: end;
}

.schedule-content {
    text-align: center;
}

.header-menu {
    gap: 40px;
}

.header-menu a {
    color: var(--color-tire);
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 300ms;
}

.menu__dropdown-item .menu__dropdown-link svg {
    transform: scale(1, 1);
    transition: transform 300ms;
}

.menu__dropdown-link {
    gap: 4px;
}

.menu__dropdown-item {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu__dropdown-list {
    position: absolute;
    display: none;
    top: 100%;
}

.menu__dropdown-list a {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    transition: background-color 300ms, color 300ms;
}

.menu__dropdown-list li:not(:last-child) a {
    border-bottom: 1px solid var(--color-brand);
}

/*footer*/
.footer-content {
    gap: 290px;
    position: relative;
    z-index: 2;
}

.logo-wrapper {
    width: fit-content;
    height: 56px;
    padding: 8px 20px;
}

.footer__legal-info {
    justify-content: space-between;
}

.footer__legal-wrapper a {
    padding: 8px 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-nav {
    gap: 112px;
}

.footer-content-menu {
    justify-content: space-between;
    gap: 100px;
}

.footer-menu-list {
    font-weight: 500;
    gap: 8px;
}

.footer-menu-list ul li a {
    display: flex;
    padding: 8px 0;
    white-space: nowrap;
}

.footer-contacts {
    max-width: 360px;
    gap: 20px;
}

.footer-contacts .t2 {
    text-transform: uppercase;
}

.footer-contacts__wrapper {
    gap: 12px;
}

.soc-item {
    height: 32px;
    width: 32px;
}

.footer-contacts__phone {
    font-weight: 500;
}

.footer__word-logo {
    margin-top: 19px;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("/assets/images/main/footer-word-logo.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 26% 2% 39%;
    aspect-ratio: 1400/240;
}

.footer__word-logo img {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 1;
}

.footer-bottom {
    margin: 48px 0 24px;
    align-items: end;
    gap: 16px;
}

.footer-requisites__item {
    gap: 4px;
    font-weight: 500;
}

.footer__word-subLogo {
    padding-left: 62%;
    margin-top: 23px;
    position: relative;
    z-index: 2;
}

.footer__word-subLogo svg {
    width: 100%;
    height: fit-content;
}

/*END footer*/


/*404 error*/
.error-content-image {
    width: 100%;
    max-width: 320px;
}

.error-page-content {
    align-items: center;
}

.error-content__bottom {
    gap: 24px;
    align-items: center;
}
.to-home__btn{
    max-width: 259px;
}

/*END 404 error*/


/*tours*/
.tours-page-title{
    padding-bottom: 136px;
}

.advantages-section {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.advantages__title {
    text-transform: uppercase;
    word-break: break-word;
}

.advantages__icon {
    height: 56px;
    width: 56px;
    padding: 12px;
    background-color: var(--color-mustache);
}

.advantages__item {
    gap: 16px;
    border: 1px solid var(--color-mustache);
    padding: 20px;
}

.our-tours{
    margin-top: 32px;
}

.our-tours__tub-btn{
    width: 242px;
}

.our-tours__contents{
    margin-top: 56px;
}

.routes-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px 4px;
}

.route-card{
    height: 400px;
    width: 100%;
    max-width: 614px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    padding-bottom: 16px;
}

.card-tag{
    background-color: var(--color-tire);
    border: 1px solid var(--color-white);
    width: fit-content;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 55px;
}

.route-card__top{
    position: absolute;
    top: 16px;
    right: 30px;
    gap: 8px;
    align-items: end;
}

.route-card__bottom{
    width: 100%;
    padding: 0 16% 0 4%;
    position: absolute;
    bottom: 16px;
}

.route-card{
    position: relative;
    padding-bottom: 0;
}

.route-card__image{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
/*END tours*/

/*gallery slider section */
.telegram-promo {
    align-items: center;
    margin-top: 48px;
    padding: 12px 60px;
    gap: 80px;
}

.telegram-promo__title {
    gap: 16px;
    white-space: nowrap;
}

.telegram-promo__title-decoration {
    text-decoration: underline;
}

.telegram-promo__description{
    max-width: 454px;
}

.gallery-card{
    display: flex;
    height: 400px;
}

.gallery-card img{
    height: 100%;
    object-fit: cover;
}
/*END gallery slider section */

/*reviews slider section */
.reviews-card {
    gap: 16px;
}

.reviews-section__bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--color-smoke);
    gap: 24px;
}

.reviews-section__icons {
    gap: 20px;
}

.reviews-link {
    border-radius: 12px;
    overflow: hidden;
    height: 40px;
    width: 40px;
}
/*END reviews slider section */


/*certificate page*/
.page-top-icon-wrapper{
    margin-top: 24px;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.certificate-description-section{
    min-height: 206px;
}

.page-top-icon{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.certificate-image{
    max-width: 720px;
}

.certificate-description__content{
    align-items: center;
    padding-bottom: 79px;
    position: relative;
    z-index: 2;
    gap: 24px;
}
.certificate-description__top{
    width: 100%;
    max-width: 644px;
    justify-content: space-between;
    gap: 12px;
}

.certificate-description__top li{
    padding: 10px 0;
}

.certificate-description__bottom{
    gap: 24px;
}

.certificate-description__bottom svg{
    height: 41px;
    width: 100%;
    max-width: 299px;
}

.get-certificate-btn{
    max-width: 287px;
}

.about-certificate__section{
    display: grid;
    grid-template-columns: 1fr 600px;
    align-items: center;
}
.about-certificate{
    gap: 48px;
    padding: 0 120px 0 118px;
    width: 100%;
}

.about-certificate__image{
    position: relative;
    height: 600px;
    display: flex;
    align-items: start;
    overflow: hidden;
}

.about-certificate__lines{
    position: absolute;
    background-color: var(--color-tire);
    gap:30px;
    padding-left: 70px;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: 256px;
    clip-path: polygon(46% 0, 100% 100%, 0% 100%, 0% 0%);
}
.about-certificate__image img{
    height: 100%;
    object-fit: cover;
}

.about-certificate__line{
    background-color: var(--color-mustache);
    height: 100%;
    transform: skew(13deg);
}
.about-certificate__line-18{
    width: 18px;
}
.about-certificate__line-38{
    width: 38px;
}

.about-certificate__button{
    max-width: 336px;
}


.faq-section{
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-width: 1992px;
    margin-left: auto;
    margin-right: auto;
}

.aside-bike-image{
    height: 620px;
    width: 620px;
    min-width: 620px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size:contain;
}
.aside-bike-image__left{
    background-position: right;
}
.aside-bike-image__right{
    background-position: left;
}
/*END certificate page*/

/*faq section*/
.faq-section .width-container{
    min-width: 806px;
}

.faq-block{
    padding-top: 65px;
    max-width: 678px;
    width: 100%;
}

.faq-item{
    border: 1px solid var(--color-white);
    padding: 0 64px;
    background-color: var(--color-tire);
    transition: background-color 300ms;
}

.question{
    gap: 12px;
    width: 100%;
    padding: 12px 0;
    transition: padding 300ms;
}

.open .question{
    padding: 12px 0 8px;
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms;
}

.faq-answer-content{
    padding-bottom: 12px;
}

.question-open-icon{
    transition: transform 300ms;
}

.open .question-open-icon{
    transform: rotate(180deg);
}

.vertical-line{
    transition: opacity 300ms;
}

.open .vertical-line{
    opacity: 0;
}

.open.faq-item{
    background-color: var(--color-mustache);
}

.questions-answers{
    margin-top: 56px;
    gap: 20px;
}

.question-text{
    width: 100%;
    text-align: left;
    white-space: normal;
}
/*END faq section*/

/*promotion page*/
.promotions-top-icon-wrapper{
    min-height: 80px;
}

.promotions-top-icon{
    max-width: 460px;
}

.discounts-section{
    margin-top: 32px;
    padding: 40px 0;
    background-color: var(--color-mustache);
}

.discounts-content{
    gap: 20px;
    justify-content: center;
}

.discounts-card{
    gap: 32px;
    width: 100%;
    max-width: 453px;
}

.discounts-description{
    gap: 16px;
    padding: 0 40px;
}

.discounts-bottom{
    display: flex;
    padding: 0 40px;
    margin-top: auto;
}


.discounts-description__text strong{
    color: var(--color-white);
    font-weight: 500;
}

.discounts-card__image{
    height: 302px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.discounts-card__top{
    position: relative;
}

.card-tag__wrapper{
    position: absolute;
    top: 16px;
    right: 30px;
}

/*END promotion page*/










.mb-show {
    display: none;
}

@media (hover: hover) {
    .menu__dropdown-list a:hover {
        background-color: var(--color-brand);
        color: var(--color-white);
    }

    .menu__link:hover {
        color: var(--color-brand);
    }

    .menu__dropdown-link:hover svg path {
        fill: var(--color-brand);
    }

    .menu__dropdown-item:hover .menu__dropdown-link svg {
        transform: scale(1, -1);
    }

    .menu__dropdown-item:hover .menu__dropdown-list {
        display: block;
    }

    .header-phone:hover,
    .telegram-promo:hover{
        background-color: var(--color-add-brand);
    }

    .faq-item:hover{
        background-color: var(--color-mustache);
    }
}