@media (max-width: 1400px) {
    .certificate-image {
        max-width: 650px;
    }
    .promotions-top-icon-wrapper{
        min-height: 190px;
    }
}

@media (max-width: 1300px) {
    .footer-content-menu,
    .footer-nav {
        gap: 36px;
    }

    .footer-content {
        gap: 200px;
    }

    .telegram-promo {
        gap: 8px;
    }

    .contacts-page-top{
        margin-top: 32px;
        gap: 24px;
        padding: 0 16px;
    }
}

@media (max-width: 1220px) {

    .about-certificate__section {
        grid-template-columns: 100%;
        gap: 25px;
    }

    .about-certificate {
        padding: 0;
        gap: 12px;
    }

    .about-certificate__button {
        max-width: 100%;
    }

    .about-certificate__image {
        width: calc(100% + 16px);
    }
    .corporate-discounts{
        margin-top: 32px;
        gap: 56px;
    }

}

@media (max-width: 992px) {
    .header-container {
        display: none;
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .mobile-menu-btn {
        height: 32px;
        width: 32px;
    }

    .header-container.open-menu {
        position: fixed;
        inset: 0;
        z-index: 99;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
    }

    .header-bar,
    .header-bar__contacts {
        display: contents;
    }

    .schedule-content,
    .header-bar__contacts .contacts__soc,
    .header-bar .contacts__mail {
        background-color: var(--color-tire);
        padding: 8px;
        justify-content: center;
        gap: 16px;
        border-top: 1px solid var(--color-mustache);
    }

    .header-nav {
        order: 0;
        height: 100%;
        overflow-y: auto;
    }

    .header-phone {
        order: 3;
        justify-content: center;
        width: 100%;
    }

    .header-bar__contacts .contacts__soc {
        order: 4;
    }

    .header-bar .contacts__mail {
        display: flex;
        order: 5;
        height: 48px;
        min-height: 48px;
    }

    .header-menu {
        flex-direction: column;
        padding: 32px 16px;
        gap: 0;
    }

    .header-bar .schedule-content {
        order: 6;
        padding: 20px 0 40px;
    }

    .header-logo {
        width: 100%;
        background-color: var(--color-brand);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .header-menu-close-btn {
        padding: 8px;
    }

    .header-menu li {
        width: 100%;
    }

    .menu__link {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--color-light-dust);
    }

    .menu__dropdown-link .menu__link {
        border-bottom: none;
    }

    .menu__dropdown-link {
        width: 100%;
        border-bottom: 1px solid var(--color-light-dust);
        justify-content: center;
    }

    .menu__dropdown-item {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu__dropdown-list {
        display: flex;
        flex-direction: column;
        position: initial;
        max-height: 0;
        overflow: hidden;
        transition: max-height 300ms;
    }

    .menu__dropdown-list li:not(:last-child) a {
        border-bottom: none;
    }

    .menu__dropdown-list li:last-child a {
        border-bottom: 1px solid var(--color-light-dust);
    }

    .header-menu a {
        padding: 12px 0;
    }

    .menu__dropdown-item.open .menu__dropdown-link svg {
        transform: scale(1, -1);
    }

    .header-phone {
        gap: 8px;
        min-height: 32px;
        height: 32px;
    }

    .header-phone svg {
        width: 16px;
        height: 16px;
    }

    .header-phone__text {
        padding-right: 8px;
    }

    /*footer*/
    .footer-logo-wrapper {
        justify-content: space-between;
        gap: 12px;
        width: 100%;
    }

    .logo-wrapper svg {
        max-width: 92px;
    }

    .footer-content,
    .footer-content-menu {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        gap: 28px;
    }

    .footer__legal-info {
        display: contents;
    }

    .logo-wrapper {
        order: 0;
        height: 40px;
        padding: 6px 12px;
    }

    .footer-nav {
        order: 1;
    }

    .footer__legal-wrapper {
        order: 2;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
    }

    .footer__word-logo {
        margin-top: calc(100vw / 9);
    }

    .footer-contacts,
    .footer-contacts__wrapper {
        align-items: center;
    }

    .footer-contacts__wrapper .contacts__mail {
        height: 32px;
    }

    .footer-contacts {
        gap: 12px;
    }

    .footer__word-subLogo {
        margin-top: 5px;
    }

    .footer-bottom {
        flex-direction: column;
        margin: 16px 0 20px;
        align-items: center;
    }

    .site-creator-logo svg {
        width: 107px;
    }

    .footer-requisites {
        align-items: center;
    }

    .error-content__bottom {
        gap: 16px;
    }

    .to-home__btn {
        max-width: 205px;
    }

    /*tours*/
    .tours-page-title {
        padding-bottom: 32px;
    }

    .advantages-section {
        margin-top: 32px;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .advantages__item {
        padding: 12px 12px 20px;
    }

    .advantages__icon {
        height: 48px;
        width: 48px;
        padding: 8px;
    }

    .gallery-card {
        height: 210px;
    }

    .routes-content {
        gap: 24px;
    }

    .route-card {
        height: 218px;
    }

    .route-card__top {
        right: 16px;
    }

    .route-card__top .card-tag:not(:first-child) {
        display: none;
    }

    .route-card__bottom {
        flex-direction: column;
        padding: 0 16% 0 8%;
    }

    .card-tag {
        height: 38px;
        padding: 0 26px;
    }

    /*END tours*/
    .telegram-promo {
        margin-top: 32px;
        align-items: start;
        padding: 12px 16px;
    }

    .reviews-card__crooked-icon {
        max-width: 202px;
    }

    .reviews-section__bottom {
        gap: 20px;
        margin-top: 20px;
        padding-top: 16px;
    }

    .telegram-promo__title-text {
        display: flex;
        flex-direction: column;
    }

    /*certificate page*/
    .certificate__page-title {
        font-size: 56px;
    }

    .certificate-description-section {
        margin-top: 0;
        min-height: 180px;
    }

    .certificate-description__content {
        padding-bottom: 32px;
        gap: 20px;
    }

    .certificate-description__top li {
        padding: 8px 0;
    }

    .certificate-image {
        max-width: 340px;
    }

    .about-certificate__image {
        height: 256px;
    }

    .about-certificate__lines {
        padding-left: 35px;
        gap: 12px;
        width: 120px;
        clip-path: polygon(42% 0, 100% 100%, 0% 100%, 0% 0%);
    }

    .about-certificate__line-18 {
        width: 8px;
    }

    .about-certificate__line-38 {
        width: 16px;
    }

    .about-certificate__line {
        transform: skew(15deg);
    }

    .faq-section {
        position: relative;
    }

    .faq-block {
        position: relative;
        z-index: 1;
        max-width: 100%;
    }

    .aside-bike-image {
        height: 320px;
        width: 320px;
        position: absolute;
        z-index: 0;
    }

    .aside-bike-image__left {
        right: calc(100% - 100px);
    }

    .aside-bike-image__right {
        left: calc(100% - 100px);
    }

    .questions-answers {
        margin-top: 32px;
        gap: 12px;
    }

    .faq-section .width-container {
        min-width: 360px;
        padding-top: 0;
    }

    .faq-item {
        padding: 0 32px;
    }
    /*END certificate page*/

    /*promotion page*/
    .promotions-top-icon{
        max-width: 360px;
    }
    .promotions-top-icon-wrapper{
        min-height: 165px;
    }

    .discounts-content{
        flex-direction: column;
        gap: 56px;
        align-items: center;
    }
    .discounts-card__image{
        height: 218px;
    }

    .discounts-section{
        padding: 32px 0;
    }
    .discounts-card{
        gap: 20px;
    }
    .discounts-description{
        gap: 12px;
        padding: 0 24px;
    }
    .discounts-description__icon svg{
        max-width: 202px;
    }
    .discounts-bottom{
        padding: 0;
    }
    .card-tag__wrapper{
        right: 20px;
    }

    .discounts-description__title{
        min-height: unset;
    }
    .transport-slider{
        margin-top: 6px;
    }
    .corporate-discounts-description{
        gap: 12px;
    }
    .corporate-description__list{
        margin-top: 16px;
        gap: 8px;
    }
    .corporate-discounts-content{
        padding: 0 24px;
    }
    .corporate-discounts-bottom{
        gap: 16px;
    }


    .transport-slider .swiper-slide{
        width: 328px;
    }
    .transport__image{
        background-image: url("/assets/images/transport-images/bg-clip-path-hover.svg");
        width: 328px;
        height: 244px;
        aspect-ratio: 82/61;
    }
    .transport-type-button{
        bottom: 12px;
        left: 24px;
        right: 24px;
        height: 38px;
    }
    .get-cost-block{
        margin-top: 32px;
    }
    .get-cost-btn{
        max-width: 100%;
    }
    .recreation-card-tags{
        width: 100%;
        padding-bottom: 12px;
    }
    .recreation-card-tags .card-tag {
        width: 100%;
    }
    .contacts-page-top{
        flex-direction: column;
        align-items: start;
    }

    .contacts-label{
        gap: 12px;
        width: 100%;
    }
    .contacts-top__soc-wrapper{
        gap: 16px;
    }
    .contacts-soc-wrapper{
        padding: 0 12px;
    }
    .contacts-top__soc-wrapper svg{
        max-height: 32px;
    }








    /*END promotion page*/


    .mb-show {
        display: flex;
    }

    .mb-hide {
        display: none;
    }
}


@media (max-width: 768px) {
    .certificate-description__content {
        width: 100%;
        max-width: 340px;
    }
}
