:root{
    --color-tire: #161616;
    --color-mustache:#2C2C2C;
    --color-smoke:#52555A;
    --color-dust:#999DA6;
    --color-light-dust:#E0E2E4;
    --color-shine:#FFFFFF;
    --color-sbrand:#F44C00;
    --pop-up-brand-20: #8b6a5b;
    --color-add-brand:#FE6B29;
}