:root{
    --color-white:#FFFFFF;
    --color-tire: #161616;
    --color-mustache:#2C2C2C;
    --color-smoke:#52555A;
    --color-dust:#999DA6;
    --color-light-dust:#E0E2E4;
    --color-brand:#F44C00;
    --pop-up-brand-20: #8b6a5b;
    --color-add-brand:#FE6B29;
}

.color__smoke{
    color: var(--color-smoke);
}
.color__dust{
    color: var(--color-dust);
}
.color__tire{
    color: var(--color-tire);
}
.color__brand{
    color: var(--color-brand);
}

.bg__brand{
    background-color: var(--color-brand);
}
.bg__white{
    background-color: var(--color-white);
}