






h1, h2, h3.h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

h1,
.h1 {
    font-size: 14.375rem;
}

.h2 {
    font-size: 5rem;
}

.h3{
    font-size: 3.5rem;
}

.h4{
    font-size: 2.5rem;
}
.h5{
    font-size: 2rem;
}
.h6{
    font-size: 1.5rem;
}