/*font Oswald*/
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald/Oswald-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/oswald/Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald/Oswald-Light.woff2') format('woff2'),
    url('/assets/fonts/oswald/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald/Oswald-Regular.woff2') format('woff2'),
    url('/assets/fonts/oswald/Oswald-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald/Oswald-Medium.woff2') format('woff2'),
    url('/assets/fonts/oswald/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald/Oswald-DemiBold.woff2') format('woff2'),
    url('/assets/fonts/oswald/Oswald-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald/Oswald-Bold.woff2') format('woff2'),
    url('/assets/fonts/oswald/Oswald-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/oswald/Oswald-Heavy.woff2') format('woff2'),
    url('/assets/fonts/oswald/Oswald-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/*END font Oswald*/

/*font Roboto Condensed*/
@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/roboto/RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('/assets/fonts/roboto/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/roboto/RobotoCondensed-Light.woff2') format('woff2'),
    url('/assets/fonts/roboto/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/roboto/RobotoCondensed-Regular.woff2') format('woff2'),
    url('/assets/fonts/roboto/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/roboto/RobotoCondensed-Italic.woff2') format('woff2'),
    url('/assets/fonts/roboto/RobotoCondensed-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/roboto/RobotoCondensed-Bold.woff2') format('woff2'),
    url('/assets/fonts/roboto/RobotoCondensed-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/roboto/RobotoCondensed-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/roboto/RobotoCondensed-BoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
/*END font Roboto Condensed*/


h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, .t1, .t3{
    font-family: "Roboto Condensed";

}
h1, h2, h3, h4, h5, h6, .t1{
    text-transform: uppercase;
}
.t2, .t-caption, h6{
    font-family: 'Oswald';
}


h1,
.h1 {
    font-size: 230px;
    line-height: 100%;
    font-style: italic;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 80px;
    line-height: 100%;
}

h3,
.h3{
    font-size: 56px;
    line-height: 100%;
}

h4,
.h4{
    font-size: 40px;
    line-height: 100%;
    font-style: italic;
    font-weight: 800;
}

h5,
.h5{
    font-size: 32px;
    line-height: 100%;
    font-weight: 500;
}

h6,
.h6{
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
}

.t1{
    font-size: 20px;
    line-height: 130%;
}

.t2{
    font-size: 16px;
    line-height: 150%;
}
.t3{
    font-size: 16px;
    line-height: 100%;
}

.t-caption{
    font-size: 12px;
    line-height: 120%;
    font-weight: 500;
    text-transform: uppercase;
}


@media (max-width: 992px) {
    h1,
    .h1 {
        font-size: 56px;
    }

    h2,
    .h2 {
        font-size: 40px;
    }

    h3,
    .h3{
        font-size: 24px;
    }

    h4,
    .h4{
        font-size: 22px;
        font-weight: 600;
    }

    h5,
    .h5{
        font-size: 20px;
    }

    h6,
    .h6{
        font-size: 18px;
    }

    .t1{
        font-size: 16px;
        line-height: 120%;
    }

    .t2{
        font-size: 14px;
        line-height: 135%;
    }
    .t3{
        font-size: 14px;
    }

    .t-caption{
        line-height: 110%;
    }

}