<nav class="breadcrumbs-section" aria-label="Хлебные крошки">
    <ul class="breadcrumbs resetListStyle flexAlignCenter textUppercase">
        <li><a href="/">Главная</a></li>
        <li><span aria-current="page">{{currenPage}}</span></li>
    </ul>
</nav>
