<section class="faq-section page-section">
    <div class="aside-bike-image aside-bike-image__left" style="background-image: url('{{asideImage}}')"></div>
    <div class="faq-block width-container  flexColumn flexAlignCenter">
        <h4>Вопрос&nbsp;— ответ</h4>
        <div class="questions-answers flexColumn">
            <div class="faq-item" data-open-block-wrapper>
                <button class="question flexAlignCenter flexJustifyBetween" data-open-block-btn>
                    <span class="question-text h6">ВОПРОС НА ТЕМУ КВАДРОЦИКЛОВ, МАРШРУТОВ, ЦЕН</span>

                    <svg class="question-open-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="vertical-line" d="M7.29934 2.34318C7.29934 1.95658 7.61294 1.64298 7.99954 1.64298C8.38614 1.64298 8.69975 1.95658 8.69975 2.34318V13.6569C8.69975 14.0435 8.38614 14.3571 7.99954 14.3571C7.61294 14.3571 7.29934 14.0435 7.29934 13.6569V2.34318Z" fill="white"/>
                        <path  d="M1.64249 8.00003C1.64249 7.61343 1.95609 7.29983 2.34269 7.29983L13.6564 7.29983C14.043 7.29983 14.3566 7.61343 14.3566 8.00003C14.3566 8.38663 14.043 8.70023 13.6564 8.70023L2.34269 8.70023C1.95609 8.70023 1.64249 8.38663 1.64249 8.00003Z" fill="white"/>
                    </svg>
                </button>

                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content t3">
                        <p>
                            Ответ на тему квадроциклов маршрутов цен.
                            Ответ на тему квадроциклов маршрутов цен.
                            Ответ на тему квадроциклов маршрутов цен.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq-item" data-open-block-wrapper>
                <button class="question flexAlignCenter flexJustifyBetween" data-open-block-btn>
                    <span class="question-text h6">ВОПРОС НА ТЕМУ КВАДРОЦИКЛОВ</span>

                    <svg class="question-open-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="vertical-line" d="M7.29934 2.34318C7.29934 1.95658 7.61294 1.64298 7.99954 1.64298C8.38614 1.64298 8.69975 1.95658 8.69975 2.34318V13.6569C8.69975 14.0435 8.38614 14.3571 7.99954 14.3571C7.61294 14.3571 7.29934 14.0435 7.29934 13.6569V2.34318Z" fill="white"/>
                        <path  d="M1.64249 8.00003C1.64249 7.61343 1.95609 7.29983 2.34269 7.29983L13.6564 7.29983C14.043 7.29983 14.3566 7.61343 14.3566 8.00003C14.3566 8.38663 14.043 8.70023 13.6564 8.70023L2.34269 8.70023C1.95609 8.70023 1.64249 8.38663 1.64249 8.00003Z" fill="white"/>
                    </svg>
                </button>

                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content t3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            At eos illo quibusdam voluptate. Deleniti itaque nemo reiciendis voluptas.
                            Aliquam animi atque, eveniet illo nemo officiis porro rem rerum voluptate!
                            Consequatur.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq-item" data-open-block-wrapper>
                <button class="question flexAlignCenter flexJustifyBetween" data-open-block-btn>
                    <span class="question-text h6">ВОПРОС НА ТЕМУ КВАДРОЦИКЛОВ ВОПРОС НА ТЕМУ КВАДРОЦИКЛОВ</span>

                    <svg class="question-open-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="vertical-line" d="M7.29934 2.34318C7.29934 1.95658 7.61294 1.64298 7.99954 1.64298C8.38614 1.64298 8.69975 1.95658 8.69975 2.34318V13.6569C8.69975 14.0435 8.38614 14.3571 7.99954 14.3571C7.61294 14.3571 7.29934 14.0435 7.29934 13.6569V2.34318Z" fill="white"/>
                        <path  d="M1.64249 8.00003C1.64249 7.61343 1.95609 7.29983 2.34269 7.29983L13.6564 7.29983C14.043 7.29983 14.3566 7.61343 14.3566 8.00003C14.3566 8.38663 14.043 8.70023 13.6564 8.70023L2.34269 8.70023C1.95609 8.70023 1.64249 8.38663 1.64249 8.00003Z" fill="white"/>
                    </svg>
                </button>

                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content t3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            At eos illo quibusdam voluptate. Deleniti itaque nemo reiciendis voluptas.
                            Aliquam animi atque, eveniet illo nemo officiis porro rem rerum voluptate!
                            Consequatur.
                        </p>
                        <ul>
                            <li>Mercedes</li>
                            <li>KIA</li>
                            <li>Toyota</li>
                            <li>BMW</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="faq-item" data-open-block-wrapper>
            <button class="question flexAlignCenter flexJustifyBetween" data-open-block-btn>
                <span class="question-text h6">ВОПРОС НА ТЕМУ КВАДРОЦИКЛОВ, МАРШРУТОВ, ЦЕН</span>

                <svg class="question-open-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="vertical-line" d="M7.29934 2.34318C7.29934 1.95658 7.61294 1.64298 7.99954 1.64298C8.38614 1.64298 8.69975 1.95658 8.69975 2.34318V13.6569C8.69975 14.0435 8.38614 14.3571 7.99954 14.3571C7.61294 14.3571 7.29934 14.0435 7.29934 13.6569V2.34318Z" fill="white"/>
                    <path  d="M1.64249 8.00003C1.64249 7.61343 1.95609 7.29983 2.34269 7.29983L13.6564 7.29983C14.043 7.29983 14.3566 7.61343 14.3566 8.00003C14.3566 8.38663 14.043 8.70023 13.6564 8.70023L2.34269 8.70023C1.95609 8.70023 1.64249 8.38663 1.64249 8.00003Z" fill="white"/>
                </svg>
            </button>

            <div class="faq-answer" data-open-block>
                <div class="faq-answer-content t3">
                    <p>
                        Ответ на тему квадроциклов маршрутов цен.
                        Ответ на тему квадроциклов маршрутов цен.
                        Ответ на тему квадроциклов маршрутов цен.
                    </p>
                </div>
            </div>
        </div>
            <div class="faq-item" data-open-block-wrapper>
                <button class="question flexAlignCenter flexJustifyBetween" data-open-block-btn>
                    <span class="question-text h6">ВОПРОС НА ТЕМУ КВАДРОЦИКЛОВ</span>

                    <svg class="question-open-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="vertical-line" d="M7.29934 2.34318C7.29934 1.95658 7.61294 1.64298 7.99954 1.64298C8.38614 1.64298 8.69975 1.95658 8.69975 2.34318V13.6569C8.69975 14.0435 8.38614 14.3571 7.99954 14.3571C7.61294 14.3571 7.29934 14.0435 7.29934 13.6569V2.34318Z" fill="white"/>
                        <path  d="M1.64249 8.00003C1.64249 7.61343 1.95609 7.29983 2.34269 7.29983L13.6564 7.29983C14.043 7.29983 14.3566 7.61343 14.3566 8.00003C14.3566 8.38663 14.043 8.70023 13.6564 8.70023L2.34269 8.70023C1.95609 8.70023 1.64249 8.38663 1.64249 8.00003Z" fill="white"/>
                    </svg>
                </button>

                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content t3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            At eos illo quibusdam voluptate. Deleniti itaque nemo reiciendis voluptas.
                            Aliquam animi atque, eveniet illo nemo officiis porro rem rerum voluptate!
                            Consequatur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside-bike-image aside-bike-image__right" style="background-image: url('{{asideImage}}')"></div>
</section>