<section class="page-section width-container">

    <div class="slider-section-top flexBox">
        <h4 class="textCenter">Галерея</h4>
        <div class="slider-controls flexBox">
            <button id="toLeft_gallery__slider" class="slider-control-btn btn-skew-left bg__brand">
                <svg class="btn-skew-left-content" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.29228 11.071L11.9493 16.728L13.3633 15.314L8.41328 10.364L13.3633 5.414L11.9493 4L6.29228 9.657C6.10481 9.84453 5.9995 10.0988 5.9995 10.364C5.9995 10.6292 6.10481 10.8835 6.29228 11.071Z" fill="white"/>
                </svg>
            </button>
            <button id="toRight_gallery__slider"  class="slider-control-btn btn-skew-left bg__brand">
                <svg class="btn-skew-left-content" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.071 11.071L7.414 16.728L6 15.314L10.95 10.364L6 5.414L7.414 4L13.071 9.657C13.2585 9.84453 13.3638 10.0988 13.3638 10.364C13.3638 10.6292 13.2585 10.8835 13.071 11.071Z" fill="white"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="slider-container mobile-wide-container"
         id="gallery__slider"
         data-slider-group-item="gallery__slider"
         data-slides-view="2.5"
         data-slides-view-tablet="2.3"
         data-slides-view-mobile="1.2"
         data-space-between="-40"
         data-space-between-tablet="-35"
         data-space-between-mobile="-25"
         data-slides-loop="false"
         data-auto-play="false"
         data-reverse-direction="false"
         data-slides-speed="1000"
         data-grab-cursor="true"
         data-pagination-clickable="true"
         data-slides-delay='1000'
         data-pagination-type="false"
         data-pagination-type-tablet="false"
         data-pagination-type-mobile="progressbar"
    >

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="gallery-card flexColumn clip-container">
                    <img src="/assets/images/cards/gallery-1.webp" alt="gallery-image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="gallery-card flexColumn clip-container">
                    <img src="/assets/images/cards/gallery-2.webp" alt="gallery-image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="gallery-card flexColumn clip-container">
                    <img src="/assets/images/cards/gallery-3.webp" alt="gallery-image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="gallery-card flexColumn clip-container">
                    <img src="/assets/images/cards/gallery-1.webp" alt="gallery-image">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="gallery-card flexColumn clip-container">
                    <img src="/assets/images/cards/gallery-2.webp" alt="gallery-image">
                </div>
            </div>
        </div>

    </div>

    <div class="telegram-promo bg__brand flex__row__column mobile-wide-container">
        <a href="" class="telegram-promo__title flexCenter">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M16.8013 24.4556L16.1443 31.5032C16.1443 31.5032 15.8693 33.6627 18.0083 31.5032C20.1472 29.3438 22.1945 27.6785 22.1945 27.6785" fill="white"/>
                <path d="M12.3281 22.344L5.28824 20.0288C5.28824 20.0288 4.4469 19.6842 4.71781 18.9029C4.77358 18.7418 4.88608 18.6047 5.22262 18.3691C6.78247 17.2717 34.0942 7.36304 34.0942 7.36304C34.0942 7.36304 34.8653 7.10075 35.3201 7.27521C35.4326 7.31036 35.5339 7.37505 35.6135 7.46266C35.6931 7.55027 35.7482 7.65766 35.7732 7.77383C35.8224 7.97902 35.8429 8.19013 35.8343 8.40105C35.8321 8.58351 35.8103 8.75263 35.7937 9.01783C35.6273 11.7269 30.6495 31.9454 30.6495 31.9454C30.6495 31.9454 30.3516 33.1286 29.2846 33.1691C29.0223 33.1776 28.7611 33.1328 28.5164 33.0372C28.2717 32.9417 28.0485 32.7974 27.8603 32.6129C25.7663 30.7949 18.5288 25.8853 16.9295 24.8056C16.8935 24.7808 16.8631 24.7484 16.8405 24.7108C16.8178 24.6731 16.8034 24.631 16.7983 24.5872C16.7759 24.4734 16.8985 24.3324 16.8985 24.3324C16.8985 24.3324 29.5009 13.0255 29.8362 11.8385C29.8622 11.7465 29.7641 11.7012 29.6324 11.7415C28.7954 12.0523 14.2853 21.3014 12.6839 22.3222C12.5686 22.3574 12.4468 22.3649 12.3281 22.344Z" fill="white"/>
            </svg>
            <h5 class="telegram-promo__title-text">
                <span>Подпишитесь на наш</span> <span class="telegram-promo__title-decoration">Telegram-канал</span>
            </h5>

        </a>

        <p class="telegram-promo__description t3">
            Там публикуем последние новости Резиденции Активного Отдыха,
            акции, специальные предложения и розыгрыши призов!
        </p>
    </div>

</section>