<section class="marquee marquee-text" data-marquee>
    <div class="marquee-text-track t-caption">
        <p>
            /// Корпоративы, индивидуальные заезды, мастер-классы
            /// Корпоративы, индивидуальные заезды, мастер-классы
            /// Корпоративы, индивидуальные заезды, мастер-классы
            /// Корпоративы, индивидуальные заезды, мастер-классы
            /// Корпоративы, индивидуальные заезды, мастер-классы
            /// Корпоративы, индивидуальные заезды, мастер-классы
        </p>
    </div>
</section>