<section class="page-section width-container">
    <div class="slider-section-top flexBox">
        <h4 class="textCenter">виды отдыха</h4>
        <div class="slider-controls flexBox">
            <button id="toLeft_recreation__slider" class="slider-control-btn btn-skew-left bg__brand">
                <svg class="btn-skew-left-content" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.29228 11.071L11.9493 16.728L13.3633 15.314L8.41328 10.364L13.3633 5.414L11.9493 4L6.29228 9.657C6.10481 9.84453 5.9995 10.0988 5.9995 10.364C5.9995 10.6292 6.10481 10.8835 6.29228 11.071Z" fill="white"/>
                </svg>
            </button>
            <button id="toRight_recreation__slider"  class="slider-control-btn btn-skew-left bg__brand">
                <svg class="btn-skew-left-content" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.071 11.071L7.414 16.728L6 15.314L10.95 10.364L6 5.414L7.414 4L13.071 9.657C13.2585 9.84453 13.3638 10.0988 13.3638 10.364C13.3638 10.6292 13.2585 10.8835 13.071 11.071Z" fill="white"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="slider-container mobile-wide-container"
         id="recreation__slider"
         data-slider-group-item="recreation__slider"
         data-slides-view="2.5"
         data-slides-view-tablet="2,3"
         data-slides-view-mobile="1.2"
         data-space-between="-40"
         data-space-between-tablet="-35"
         data-space-between-mobile="-25"
         data-slides-loop="false"
         data-auto-play="false"
         data-reverse-direction="false"
         data-slides-speed="1000"
         data-grab-cursor="true"
         data-pagination-clickable="true"
         data-slides-delay='1000'
         data-pagination-type="false"
         data-pagination-type-tablet="false"
         data-pagination-type-mobile="progressbar"
    >

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="recreation__gallery-card gallery-card flexColumn clip-container">
                    <img src="/assets/images/cards/gallery-1.webp" alt="gallery-image">
                    <div class="recreation-card-tags">
                        <h6 class="card-tag btn-skew-right">
                            <span class="btn-skew-right-content blockBox">Семейный отдых</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recreation__gallery-card gallery-card flexColumn clip-container">
                    <img src="/assets/images/cards/gallery-2.webp" alt="gallery-image">
                    <div class="recreation-card-tags">
                        <h6 class="card-tag btn-skew-right">
                            <span class="btn-skew-right-content blockBox">Корпоратив</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="recreation__gallery-card gallery-card flexColumn clip-container">
                    <img src="/assets/images/cards/gallery-3.webp" alt="gallery-image">
                    <div class="recreation-card-tags">
                        <h6 class="card-tag btn-skew-right">
                            <span class="btn-skew-right-content blockBox">День рождения</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="get-cost-block flexCenter">
        <button class="get-cost-btn btn-custom btn__white btn-skew-right">
            <span class="btn-skew-right-content h6">Узнать стоимость</span>
        </button>
    </div>

</section>