<section class="page-section width-container">

    <div class="slider-section-top flexBox">
        <h4 class="textCenter">Отзывы</h4>
        <div class="slider-controls flexBox">
            <button id="toLeft_reviews__slider" class="slider-control-btn btn-skew-reverse bg__brand">
                <svg class="reset-skew-reverse" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.29228 11.071L11.9493 16.728L13.3633 15.314L8.41328 10.364L13.3633 5.414L11.9493 4L6.29228 9.657C6.10481 9.84453 5.9995 10.0988 5.9995 10.364C5.9995 10.6292 6.10481 10.8835 6.29228 11.071Z" fill="white"/>
                </svg>
            </button>
            <button id="toRight_reviews__slider"  class="slider-control-btn btn-skew-reverse bg__brand">
                <svg class="reset-skew-reverse" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.071 11.071L7.414 16.728L6 15.314L10.95 10.364L6 5.414L7.414 4L13.071 9.657C13.2585 9.84453 13.3638 10.0988 13.3638 10.364C13.3638 10.6292 13.2585 10.8835 13.071 11.071Z" fill="white"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="slider-container mobile-wide-container"
         id="reviews__slider"
         data-slider-group-item="reviews__slider"
         data-slides-view="3"
         data-slides-view-tablet="2"
         data-slides-view-mobile="1.2"
         data-space-between="40"
         data-space-between-tablet="40"
         data-space-between-mobile="40"
         data-slides-loop="false"
         data-auto-play="false"
         data-reverse-direction="false"
         data-slides-speed="1000"
         data-grab-cursor="true"
         data-pagination-clickable="true"
         data-slides-delay='1000'
         data-pagination-type="false"
         data-pagination-type-tablet="false"
         data-pagination-type-mobile="progressbar"
    >

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="reviews-card flexColumn">
                    <div class="reviews-card__date color__smoke t-caption">21.12.2024</div>
                    <h6>Михайил</h6>
                    <span class="reviews-card__crooked-icon flexBox">
                            <svg width="299" height="12" viewBox="0 0 299 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0H123L113 12H0L10 0Z" fill="#FE6B29"/>
                                <path d="M157 0H200L190 12H147L157 0Z" fill="#FE6B29"/>
                                <path d="M222 0H258L248 12H212L222 0Z" fill="#FE6B29"/>
                                <path d="M280 0H299L289 12H270L280 0Z" fill="#FE6B29"/>
                            </svg>
                        </span>
                    <p class="t3">
                        Папа и сын, дедушка и внук, старший брат и младший брат — у&nbsp;нас
                        прошёл формат мастер-класса «Отцы и дети», который оставляет не
                        просто фото, а настоящее мужское воспоминание. Участники
                        познакомились с техникой, прошли мастер-класс по управлению
                        квадроциклом и эндуро, облачились в экипировку, катались по трассе
                        с инструктором, а после — обедали вместе и получили именной сертификат.
                        Это не просто активность — это момент, когда взрослый и ребёнок
                        становятся командой. Формат отлично заходит на дни рождения, подарки и в каникул
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="reviews-card flexColumn">
                    <div class="reviews-card__date color__smoke t-caption">21.12.2024</div>
                    <h6>Михайил</h6>
                    <span class="reviews-card__crooked-icon flexBox">
                            <svg width="299" height="12" viewBox="0 0 299 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0H123L113 12H0L10 0Z" fill="#FE6B29"/>
                                <path d="M157 0H200L190 12H147L157 0Z" fill="#FE6B29"/>
                                <path d="M222 0H258L248 12H212L222 0Z" fill="#FE6B29"/>
                                <path d="M280 0H299L289 12H270L280 0Z" fill="#FE6B29"/>
                            </svg>
                        </span>
                    <p class="t3">
                        Папа и сын, дедушка и внук, старший брат и младший брат — у&nbsp;нас
                        прошёл формат мастер-класса «Отцы и дети», который оставляет не
                        просто фото, а настоящее мужское воспоминание. Участники
                        познакомились с техникой, прошли мастер-класс по управлению
                        квадроциклом и эндуро, облачились в экипировку, катались по трассе
                        с инструктором, а после — обедали вместе и получили именной сертификат.
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="reviews-card flexColumn">
                    <div class="reviews-card__date color__smoke t-caption">21.12.2024</div>
                    <h6>Михайил</h6>
                    <span class="reviews-card__crooked-icon flexBox">
                            <svg width="299" height="12" viewBox="0 0 299 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0H123L113 12H0L10 0Z" fill="#FE6B29"/>
                                <path d="M157 0H200L190 12H147L157 0Z" fill="#FE6B29"/>
                                <path d="M222 0H258L248 12H212L222 0Z" fill="#FE6B29"/>
                                <path d="M280 0H299L289 12H270L280 0Z" fill="#FE6B29"/>
                            </svg>
                        </span>
                    <p class="t3">
                        Папа и сын, дедушка и внук, старший брат и младший брат — у&nbsp;нас
                        прошёл формат мастер-класса «Отцы и дети», который оставляет не
                        просто фото, а настоящее мужское воспоминание. Участники
                        познакомились с техникой, прошли мастер-класс по управлению
                        квадроциклом и эндуро, облачились в экипировку, катались по трассе
                        с инструктором, а после — обедали вместе и получили именной сертификат.
                        Это не просто активность — это момент, когда взрослый и ребёнок
                        становятся командой. Формат отлично заходит на дни рождения, подарки и в каникул
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="reviews-card flexColumn">
                    <div class="reviews-card__date color__smoke t-caption">21.12.2024</div>
                    <h6>Михайил</h6>
                    <span class="reviews-card__crooked-icon flexBox">
                            <svg width="299" height="12" viewBox="0 0 299 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0H123L113 12H0L10 0Z" fill="#FE6B29"/>
                                <path d="M157 0H200L190 12H147L157 0Z" fill="#FE6B29"/>
                                <path d="M222 0H258L248 12H212L222 0Z" fill="#FE6B29"/>
                                <path d="M280 0H299L289 12H270L280 0Z" fill="#FE6B29"/>
                            </svg>
                        </span>
                    <p class="t3">
                        Папа и сын, дедушка и внук, старший брат и младший брат — у&nbsp;нас
                        прошёл формат мастер-класса «Отцы и дети», который оставляет не
                        просто фото, а настоящее мужское воспоминание. Участники
                        познакомились с техникой, прошли мастер-класс по управлению
                        квадроциклом и эндуро, облачились в экипировку, катались по трассе
                        с инструктором, а после — обедали вместе и получили именной сертификат.
                        Это не просто активность — это момент, когда взрослый и ребёнок
                        становятся командой. Формат отлично заходит на дни рождения, подарки и в каникул
                        Папа и сын, дедушка и внук, старший брат и младший брат — у&nbsp;нас
                        прошёл формат мастер-класса «Отцы и дети», который оставляет не
                        просто фото, а настоящее мужское воспоминание.
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="reviews-card flexColumn">
                    <div class="reviews-card__date color__smoke t-caption">21.12.2024</div>
                    <h6>Михайил</h6>
                    <span class="reviews-card__crooked-icon flexBox">
                            <svg width="299" height="12" viewBox="0 0 299 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0H123L113 12H0L10 0Z" fill="#FE6B29"/>
                                <path d="M157 0H200L190 12H147L157 0Z" fill="#FE6B29"/>
                                <path d="M222 0H258L248 12H212L222 0Z" fill="#FE6B29"/>
                                <path d="M280 0H299L289 12H270L280 0Z" fill="#FE6B29"/>
                            </svg>
                        </span>
                    <p class="t3">
                        Папа и сын, дедушка и внук, старший брат и младший брат — у&nbsp;нас
                        прошёл формат мастер-класса «Отцы и дети», который оставляет не
                        просто фото, а настоящее мужское воспоминание. Участники
                        познакомились с техникой, прошли мастер-класс по управлению
                        квадроциклом и эндуро, облачились в экипировку, катались по трассе
                        с инструктором, а после — обедали вместе и получили именной сертификат.
                        Это не просто активность — это момент, когда взрослый и ребёнок
                        становятся командой. Формат отлично заходит на дни рождения, подарки и в каникул
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="reviews-card flexColumn">
                    <div class="reviews-card__date color__smoke t-caption">21.12.2024</div>
                    <h6>Михайил</h6>
                    <span class="reviews-card__crooked-icon flexBox">
                            <svg width="299" height="12" viewBox="0 0 299 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0H123L113 12H0L10 0Z" fill="#FE6B29"/>
                                <path d="M157 0H200L190 12H147L157 0Z" fill="#FE6B29"/>
                                <path d="M222 0H258L248 12H212L222 0Z" fill="#FE6B29"/>
                                <path d="M280 0H299L289 12H270L280 0Z" fill="#FE6B29"/>
                            </svg>
                        </span>
                    <p class="t3">
                        Папа и сын, дедушка и внук, старший брат и младший брат — у&nbsp;нас
                        прошёл формат мастер-класса «Отцы и дети», который оставляет не
                        просто фото, а настоящее мужское воспоминание. Участники
                        познакомились с техникой, прошли мастер-класс по управлению
                        квадроциклом и эндуро, облачились в экипировку, катались по трассе
                        с инструктором, а после — обедали вместе и получили именной сертификат.
                        Это не просто активность — это момент, когда взрослый и ребёнок
                        становятся командой. Формат отлично заходит на дни рождения, подарки и в каникул
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="reviews-section__bottom flexCenter flex__row__column">
        <h6 class="color__dust">Прочитать и оставить отзывы о нас:</h6>
        <div class="reviews-section__icons flexAlignCenter">
            <a href="" class="reviews-link flexBox">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <g clip-path="url(#clip0_548_30009)">
                        <path d="M0.0644531 20C0.0644531 8.954 9.01645 0 20.0645 0C31.1085 0 40.0645 8.954 40.0645 20C40.0645 31.046 31.1085 40 20.0645 40C9.01645 40 0.0644531 31.046 0.0644531 20Z" fill="#FC3F1D"/>
                        <path d="M22.6268 11.3321H20.7788C17.3908 11.3321 15.6088 13.0481 15.6088 15.5781C15.6088 18.4381 16.8408 19.7781 19.3708 21.4961L21.4608 22.9041L15.4548 31.8781H10.9668L16.3568 23.8501C13.2568 21.6281 11.5168 19.4701 11.5168 15.8201C11.5168 11.2441 14.7068 8.12012 20.7568 8.12012H26.7628V31.8561H22.6268V11.3321Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_548_30009">
                            <rect width="40" height="40" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>

            <a href="" class="reviews-link flexBox">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <path d="M-0.0722656 -0.0668945H39.8673V39.8751H-0.0722656V-0.0668945Z" fill="#19AA1E"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.0722656 -0.0668945H39.8673V13.0377L-0.0722656 6.79766V-0.0668945Z" fill="#FFB919"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.0722656 35.505L39.8673 29.2649V39.874H-0.0722656V35.505Z" fill="#82D714"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.0722656 6.00903L13.869 8.18749C15.6044 7.08858 17.669 6.48587 19.8969 6.48587C22.9829 6.48587 25.7566 7.64166 27.7752 9.67005C28.0293 9.92662 28.2689 10.1941 28.4952 10.4724L39.8673 12.2491V13.8285L29.6497 12.2309C30.4145 13.693 30.8151 15.3179 30.8176 16.9679C30.8176 19.1076 30.3395 21.2413 29.3496 23.3834L29.3206 23.4488L28.8994 24.3492H27.9071C25.8546 24.3492 24.4944 24.9628 23.6037 26.0508C22.9054 26.904 22.5012 28.0562 22.3657 29.3124L22.3608 29.3512L22.3415 29.5521L22.333 29.6392L22.3161 29.8099C22.264 30.3714 22.2301 30.8471 22.212 31.2343L39.8673 28.475V30.0543L-0.0722656 36.2956V34.7162L17.6024 31.9544L17.5951 31.5998L17.5927 31.5006L17.5903 31.4485L17.5879 31.3699C17.5722 30.9402 17.5322 30.3896 17.4693 29.7215L17.4572 29.5944L17.4354 29.3754C17.3095 28.1119 16.9114 26.9464 16.2131 26.0799C15.3333 24.9846 13.9864 24.3613 11.9497 24.3492H10.8944L10.4744 23.4488C9.46516 21.2848 8.97625 19.1294 8.97625 16.9679C8.97625 14.2496 10.0787 11.621 12.0198 9.67005L12.1893 9.50424L-0.0722656 7.5872V6.00903Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9018 8.04492C25.4783 8.04492 29.2625 12.3365 29.2625 16.9669C29.2625 18.8259 28.8571 20.7598 27.9107 22.7882C22.425 22.7882 21.0708 26.7167 20.8142 29.1905L20.7973 29.3538C20.7114 30.2373 20.6605 30.9453 20.6472 31.4778L19.1611 31.7102V31.6618C19.1404 30.8753 19.0871 30.09 19.0014 29.3079L18.9978 29.2643C18.7606 26.7966 17.4354 22.7882 11.894 22.7882C10.9464 20.7598 10.541 18.8259 10.541 16.9669C10.541 12.3365 14.3265 8.04492 19.9018 8.04492Z" fill="#0073FA"/>
                </svg>
            </a>

            <a href="" class="reviews-link flexBox">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <path d="M14.1348 29.6223C15.3685 31.1652 16.625 33.1053 17.2825 34.2772C18.0833 35.8006 18.4153 36.8293 19.011 38.6717C19.3593 39.6808 19.6914 39.9868 20.388 39.9868C21.1497 39.9868 21.498 39.4725 21.7649 38.6717C22.3216 36.9432 22.7513 35.6281 23.4316 34.3748C26.0553 29.427 30.3326 25.9114 32.7414 21.0937C32.7414 21.0937 34.3267 18.151 34.3267 14.0299C34.3267 10.1888 32.7642 7.51953 32.7642 7.51953L14.1445 29.6548L14.1348 29.6223Z" fill="#34A853"/>
                    <path d="M7.82161 20.5729C9.32226 23.9908 12.1836 26.9856 14.1367 29.6223L24.4882 17.3502C24.4882 17.3502 23.0266 19.2643 20.3866 19.2643C17.444 19.2643 15.0481 16.9205 15.0481 13.9583C15.0481 11.9206 16.2623 10.5078 16.2623 10.5078C8.64518 11.6406 9.06835 13.4863 7.79883 20.5663L7.82161 20.5729Z" fill="#FBBC04"/>
                    <path d="M24.6184 0.641113C28.0689 1.75113 30.9986 4.09161 32.7564 7.50956L24.4882 17.3728C24.4882 17.3728 25.7024 15.9535 25.7024 13.9223C25.7024 10.8982 23.1504 8.61633 20.3965 8.61633C17.7825 8.61633 16.2949 10.5076 16.2949 10.5076C16.9297 9.06229 23.4889 1.13265 24.6282 0.644368L24.6184 0.641113Z" fill="#4285F4"/>
                    <path d="M9.70703 4.98044C11.7643 2.53254 15.3711 0 20.3515 0C22.7571 0 24.5832 0.638017 24.5832 0.638017L16.2825 10.5012C15.7226 10.1975 10.2604 5.94398 9.70703 4.96742V4.98044Z" fill="#1A73E8"/>
                    <path d="M7.82226 20.5727C7.82226 20.5727 6.46484 17.8774 6.46484 13.9973C6.46484 10.3189 7.90364 7.09626 9.72003 5.01294L16.2955 10.5468L7.83202 20.5727H7.82226Z" fill="#EA4335"/>
                </svg>
            </a>
        </div>
    </div>

</section>