<footer class="width-container page-section">


    <div class="footer__word-logo flexBox">
        <img src="/assets/images/main/footer-biker-image.webp" alt="">
    </div>


    <div class="footer-bottom flexJustifyBetween">
        <div class="footer-requisites t2 flexColumn">
            <div class="footer-requisites__item flexBox">
                <span class="color__smoke">ИП</span>
                <span class="color__dust textUppercase">Копырин Н.М.</span>
            </div>
            <div class="footer-requisites__item flexBox">
                <span class="color__smoke">ОГРНИП</span>
                <span class="color__dust">318507400056886</span>
            </div>
            <div class="footer-requisites__item flexBox">
                <span class="color__smoke">ИНН</span>
                <span class="color__dust">504315110199</span>
            </div>
        </div>
        <div class="color__smoke">
            © 2025
        </div>
        <a href="" class="flexColumn t3">
            <span class="site-creator-logo">
                 <svg xmlns="http://www.w3.org/2000/svg" width="137" height="32" viewBox="0 0 137 32" fill="none">
                <path d="M30.0701 4.35405V8.79448H35.2246V10.8324H30.0701V15.3004H27.8672V4.35405H30.0701ZM37.4489 4.35405V6.58499C37.4489 7.80772 36.4437 8.79448 35.2246 8.79448V4.35405H37.4489ZM37.4489 13.0419V15.3004H35.2246V10.8324C36.4437 10.8324 37.4489 11.8191 37.4489 13.0419Z" fill="#999DA6"/>
                <path d="M47.1453 6.39193H41.1567V13.3636H38.9537V6.39193C38.9537 5.27646 39.852 4.35405 40.9856 4.35405H45.1134C46.247 4.35405 47.1453 5.27646 47.1453 6.39193ZM47.1453 13.3636V6.39193H49.3482V13.3636C49.3482 14.4791 48.5506 15.3004 47.4384 15.3004H43.1261C42.014 15.3004 41.1567 14.4791 41.1567 13.3636H47.1453Z" fill="#999DA6"/>
                <path d="M55.0897 4.35405H58.5759C59.688 4.35405 60.5863 5.27646 60.5863 6.39193V15.3004H58.3834V6.39193H53.0792C53.0792 5.27646 53.9775 4.35405 55.0897 4.35405ZM53.0792 15.3004H50.8549V6.39193H53.0792V15.3004Z" fill="#999DA6"/>
                <path d="M72.2255 1.40784V2.31617C72.2255 3.60325 71.1775 4.34711 69.8942 4.34711V1.40784H72.2255ZM64.2088 4.34711H69.8942V6.46759H64.4189V13.3636H69.8942V6.46759H72.2255V13.3636C72.2255 14.4791 71.2731 15.3004 70.161 15.3004H64.3559C63.0727 15.3004 62.0877 14.4362 62.0877 13.1491V6.46759C62.0877 5.28776 63.0324 4.34711 64.2088 4.34711Z" fill="#999DA6"/>
                <path d="M75.9844 4.35405V6.37048H81.1388V4.35405H75.9844ZM73.7173 15.3004V8.57997C73.7173 7.35724 74.7225 6.37048 75.9416 6.37048V15.3004H73.7173Z" fill="#999DA6"/>
                <path d="M82.24 4.35405H89.3407C90.4529 4.35405 91.3512 5.25501 91.3512 6.37048V13.3636H89.1482V10.8753H83.3521V13.3636H89.1482V15.3004H83.0979C81.9643 15.3004 81.1278 14.4791 81.1278 13.3636V10.8753C81.1278 9.75979 82.0261 8.85884 83.1596 8.85884H89.1482V6.37048H82.24V4.35405Z" fill="#999DA6"/>
                <path d="M102.23 4.35405V6.37048H95.0439V8.85884H92.841V6.37048C92.841 5.25501 93.7392 4.35405 94.8514 4.35405H102.23ZM95.0439 8.85884H100.605C101.717 8.85884 102.615 9.75979 102.615 10.8753V13.3636C102.615 14.4791 101.791 15.3004 100.679 15.3004H93.2046V13.3636H100.412V10.8753H95.0439V8.85884Z" fill="#999DA6"/>
                <path d="M104.116 2.63794V1.40784H106.34V4.34711C105.121 4.34711 104.116 3.86067 104.116 2.63794ZM106.34 4.34711H111.625C112.802 4.34711 113.868 5.14891 113.868 6.32873V15.3004H111.644V6.32873L106.34 6.33861V4.34711ZM106.34 15.3004H104.116V6.33861H106.34V15.3004Z" fill="#999DA6"/>
                <path d="M123.561 6.39193H117.572V13.3636H115.369V6.39193C115.369 5.27646 116.267 4.35405 117.401 4.35405H121.529C122.662 4.35405 123.561 5.27646 123.561 6.39193ZM123.561 13.3636V6.39193H125.764V13.3636C125.764 14.4791 124.845 15.3004 123.733 15.3004H119.587C118.474 15.3004 117.572 14.4791 117.572 13.3636H123.561Z" fill="#999DA6"/>
                <path d="M127.27 4.35405H129.473V13.3636C128.254 13.3636 127.27 12.3554 127.27 11.1327V4.35405ZM134.799 4.35405H137.002V11.1327C137.002 12.3554 136.018 13.3636 134.799 13.3636V4.35405ZM134.777 15.3004H129.473V13.3636H134.777V15.3004Z" fill="#999DA6"/>
                <path d="M36.0587 20.2528H30.0701V27.2245H27.8672V20.2528C27.8672 19.1373 28.7239 18.2877 29.8575 18.2877H34.0039C35.1375 18.2877 36.0587 19.1373 36.0587 20.2528ZM36.0587 27.2245V20.2528H38.2617V27.2245C38.2617 28.34 37.3634 29.2409 36.2512 29.2409H32.0806C30.9684 29.2409 30.0701 28.34 30.0701 27.2245H36.0587Z" fill="#999DA6"/>
                <path d="M43.9554 18.2877H47.4384C48.5506 18.2877 49.4998 19.1373 49.4998 20.2528V29.2409H47.2968V20.2528H41.9927C41.9927 19.1373 42.8432 18.2877 43.9554 18.2877ZM41.9927 29.2409H39.7683V20.2528H41.9927V29.2409Z" fill="#999DA6"/>
                <path d="M53.204 29.2409H51.0011V18.271H53.204V29.2409Z" fill="#999DA6"/>
                <path d="M54.6938 19.9442V18.271H56.8968V22.1537C55.6777 22.1537 54.6938 21.167 54.6938 19.9442ZM56.8968 29.2409H54.6938V22.6686H56.8968V29.2409Z" fill="#999DA6"/>
                <path d="M62.6974 18.2877H66.1804C67.2925 18.2877 68.118 19.1373 68.118 20.2528V29.2409H65.9151V20.2528H60.6109C60.6109 19.1373 61.5852 18.2877 62.6974 18.2877ZM60.6109 29.2409H58.3866V20.2528H60.6109V29.2409Z" fill="#999DA6"/>
                <path d="M71.6537 18.2877H77.6246C78.7367 18.2877 79.6074 19.1159 79.6074 20.2528V22.9771H79.586C79.5005 24.0068 78.645 24.8005 77.597 24.8005H71.8437V22.7626H77.4045V20.2528H71.8437V22.7626C70.6246 22.7626 69.6193 21.7759 69.6193 20.5531V20.2528H69.6407C69.6407 19.1159 70.5415 18.2877 71.6537 18.2877ZM69.6193 27.0314V27.01C69.6193 25.7873 70.6246 24.8005 71.8437 24.8005V27.2245H79.2011V29.2409H71.8437C70.3037 29.2409 69.6193 28.2542 69.6193 27.0314Z" fill="#999DA6"/>
                <path d="M6.60737 4.47461H0.179125C0.0801971 4.47461 0 4.55481 0 4.65373V23.2014C0 23.3004 0.0801971 23.3806 0.179125 23.3806H6.60737C6.7063 23.3806 6.78649 23.3004 6.78649 23.2014V4.65373C6.78649 4.55481 6.7063 4.47461 6.60737 4.47461Z" fill="#999DA6"/>
                <path d="M24.8787 23.3845H6.78516V30.3946H24.8787V23.3845Z" fill="#999DA6"/>
            </svg>
            </span>

            <span class="color__dust">Построили сайт</span>
        </a>
    </div>
</footer>
