
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/svg+xml" href="assets/images/icons/logo-icon.webp" />

    <link rel="preload" href="/assets/fonts/oswald/Oswald-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald/Oswald-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald/Oswald-DemiBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald/Oswald-ExtraLight.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald/Oswald-Heavy.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald/Oswald-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald/Oswald-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald/OswaldStencil-Bold.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="preload" href="/assets/fonts/roboto/RobotoCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto/RobotoCondensed-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto/RobotoCondensed-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto/RobotoCondensed-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/roboto/RobotoCondensed-LightItalic.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/fancybox/fancybox.css">
    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/global.css">
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <title>pitbikepark</title>


</head>