<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icons/logo-icon.webp" />
    <link rel="icon" type="image/svg+xml" href="/assets/css/normalize.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/css/root.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/css/typography.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/css/main.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/css/responsive.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pitbike</title>
</head>